In [1]:
%run AccessLogAnalysis.py
from AccessLogAnalysis import LogAnalysis, Utils, Const

logs_dir = 'LogPlainTxt'
id_df, level_df = LogAnalysis.analysis_logs_monthly(logs_dir)

Reading logs by lines:: 100%|██████████| 310997/310997 [00:04<00:00, 62221.79it/s]

monthly_log_id_stats_df.columns:  Index(['logid', 'logid Counts'], dtype='object')
log_id_stats_df.columns:  Index(['logid', 'logid Counts', 'logid %'], dtype='object')
df1.columns:  Index(['logid', 'logid Counts'], dtype='object')
df2.columns:  Index(['logid', 'logid Counts', 'logid %'], dtype='object')
df1.columns:  Index(['logid Counts'], dtype='object')
df2.columns:  Index(['logid Counts', 'logid %'], dtype='object')
sorted_df.columns:  Index(['logid %', 'logid Counts'], dtype='object')
sorted_df.columns:  Index(['logid %', 'logid Counts'], dtype='object')
monthly_log_level_stats_df.columns:  Index(['level', 'level Counts'], dtype='object')
log_level_stats_df.columns:  Index(['level', 'level Counts', 'level %'], dtype='object')
df1.columns:  Index(['level', 'level Counts'], dtype='object')
df2.columns:  Index(['level', 'level Counts', 'level %'], dtype='object')
df1.columns:  Index(['level Counts'], dtype='object')
df2.columns:  Index(['level Counts', 'level %'], dtype='object')
sorted_df.columns:  Index(['level %', 'level Counts'], dtype='object')
sorted_df.columns:  Index(['level %', 'level Counts'], dtype='object')

Reading logs by lines:: 100%|██████████| 342219/342219 [00:05<00:00, 64686.04it/s]

monthly_log_id_stats_df.columns:  Index(['logid %', 'logid Counts'], dtype='object')
log_id_stats_df.columns:  Index(['logid', 'logid Counts', 'logid %'], dtype='object')
df1.columns:  Index(['logid %', 'logid Counts'], dtype='object')
df2.columns:  Index(['logid', 'logid Counts', 'logid %'], dtype='object')

KeyError: "None of ['logid'] are in the columns"

In [ ]:
id_df

In [ ]:
level_df

In [2]:
the_log_name = "LogPlainTxt/message_179.170.130.210.bn.2iij.net_20240527.log"
daily_log_stats_execl_prefix = "LogAnalysis_" + the_log_name.split('_')[-1].split('.')[0]

Utils.creat_dirs(daily_log_stats_execl_prefix)

all_logs_df = LogAnalysis.log_reader(the_log_name)

log_id_stats_df_27 = LogAnalysis.statics_all_logid_ratio(
    total_logs_df=all_logs_df,
    output_execl_name_prefix=daily_log_stats_execl_prefix
)
log_level_df_27 = LogAnalysis.statics_for_log_levels(
    total_logs_df=all_logs_df,
    output_execl_name_prefix=daily_log_stats_execl_prefix
)

Reading logs by lines:: 100%|██████████| 939117/939117 [00:14<00:00, 63053.25it/s]

In [3]:
the_log_name = "LogPlainTxt/message_179.170.130.210.bn.2iij.net_20240526.log"
daily_log_stats_execl_prefix = "LogAnalysis_" + the_log_name.split('_')[-1].split('.')[0]

Utils.creat_dirs(daily_log_stats_execl_prefix)

all_logs_df = LogAnalysis.log_reader(the_log_name)

log_id_stats_df_26 = LogAnalysis.statics_all_logid_ratio(
    total_logs_df=all_logs_df,
    output_execl_name_prefix=daily_log_stats_execl_prefix
)
log_level_df_26 = LogAnalysis.statics_for_log_levels(
    total_logs_df=all_logs_df,
    output_execl_name_prefix=daily_log_stats_execl_prefix
)

Reading logs by lines:: 100%|██████████| 342219/342219 [00:05<00:00, 60067.95it/s]

In [4]:
log_id_stats_df_27

         logid  logid Counts  logid %
1   0000000013        681944    72.62
2   0000000020        128869    13.72
0   0000000011         65875     7.01
3   0001000014         60055     6.39
10  0101039426           629     0.07
11  0101039943           516     0.05
12  0101039944           480     0.05
5   0100026001           441     0.05
7   0100040704           186     0.02
8   0100041000            31     0.00
6   0100026003            30     0.00
4   0100022813            24     0.00
13  0101039946            19     0.00
15  0110052000            12     0.00
9   0100046600             4     0.00
14  0102038012             1     0.00

In [5]:
log_id_stats_df_26

         logid  logid Counts  logid %
1   0000000013        246512    72.03
2   0000000020         46372    13.55
3   0001000014         28688     8.38
0   0000000011         14436     4.22
11  0101039943          2377     0.69
12  0101039944          1930     0.56
10  0101039426          1343     0.39
7   0100040704           288     0.08
5   0100026001            68     0.02
8   0100041000            48     0.01
6   0100026003            48     0.01
4   0100022813            39     0.01
13  0101039946            37     0.01
15  0110052000            18     0.01
16  0112053203             8     0.00
9   0100046600             6     0.00
14  0102038012             1     0.00

In [31]:
import pandas as pd
def combine_dataframe_by_set_index(df1: pd.DataFrame, df2: pd.DataFrame, index_col: str, count_col: str):
    select_columns = [index_col, count_col]
    df1 = df1[select_columns].set_index(index_col)
    df2 = df2[select_columns].set_index(index_col)
    
    # 确保索引列为字符串
    df1.index = df1.index.astype(str)
    df2.index = df2.index.astype(str)
    
    # 合并两个DataFrame，按索引列处理，缺失值填充为0
    df1 = df1.apply(pd.to_numeric, errors='coerce').fillna(0)
    df2 = df2.apply(pd.to_numeric, errors='coerce').fillna(0)
    # 按索引合并并将相同列相加
    add_df = df1.add(df2, fill_value=0).fillna(0)
    sorted_df = add_df.sort_values(by=count_col, ascending=False)
    # sorted_df = sorted_df[count_col].astype(int)
    total_counts = sorted_df[count_col].sum()
    sorted_df[index_col + " %"] = sorted_df[count_col].apply(lambda x: (round(x / total_counts, 10)) * 100)
    # sorted_df = sorted_df[count_col].astype(int)
    
    return sorted_df

In [32]:
emp_df = pd.DataFrame(
    {
        'logid' : [],
        'logid Counts' : []
    }
)

combine_dataframe_by_set_index(
    log_id_stats_df_27,
    log_id_stats_df_26,
    'logid',
    'logid Counts'
)

            logid Counts    logid %
logid
0000000013      928456.0  72.460051
0000000020      175241.0  13.676439
0001000014       88743.0   6.925823
0000000011       80311.0   6.267760
0101039943        2893.0   0.225780
0101039944        2410.0   0.188085
0101039426        1972.0   0.153902
0100026001         509.0   0.039724
0100040704         474.0   0.036993
0100041000          79.0   0.006165
0100026003          78.0   0.006087
0100022813          63.0   0.004917
0101039946          56.0   0.004370
0110052000          30.0   0.002341
0100046600          10.0   0.000780
0112053203           8.0   0.000624
0102038012           2.0   0.000156

In [35]:
combine_dataframe_by_set_index(
    log_level_df_27,
    log_level_df_26,
    'level',
    'level Counts'
)

               level Counts    level %
level
"notice"            1193098  93.113667
"warning"             80311   6.267760
"information"          3488   0.272216
"error"                2466   0.192456
"alert"                1972   0.153902

In [33]:
log_level_df_26

           level  level Counts  level %
3       "notice"        321972    94.08
4      "warning"         14436     4.22
2  "information"          2501     0.73
1        "error"          1967     0.57
0        "alert"          1343     0.39

In [34]:
log_level_df_27

           level  level Counts  level %
3       "notice"        871126    92.76
4      "warning"         65875     7.01
2  "information"           987     0.11
0        "alert"           629     0.07
1        "error"           499     0.05

In [2]:
the_log_name = "LogPlainTxt\\message_179.170.130.210.bn.2iij.net_20240527.log"
log_date = "LogAnalysis_" + the_log_name.split('_')[-1].split('.')[0]

all_logs_df = LogAnalysis.log_reader(the_log_name)
# hundred_one_df = all_logs_df.sample(frac=0.01, random_state=42)
# hundred_one_df.to_csv(log_date + '_Samples.csv')

# log_id = hundred_one_df.iloc[200]['logid']
# print(log_id)

all_df_mem = all_logs_df.memory_usage(deep=True).sum()
# hundred_one_df_mem = hundred_one_df.memory_usage(deep=True).sum()

print(f"all_logs_df memory usage: {all_df_mem} bytes")
# print(f"hundred_one_df memory usage: {hundred_one_df_mem} bytes")

Reading logs by lines:: 100%|██████████| 939117/939117 [00:15<00:00, 59483.88it/s]
2024-05-29 09:51:56,984	INFO worker.py:1749 -- Started a local Ray instance.
UserWarning: Distributing <class 'list'> object. This may take some time.

all_logs_df memory usage: 614929961 bytes

In [3]:
all_logs_df.columns

Index(['date', 'time', 'logid', 'level', 'srcip', 'srcport', 'dstip',
       'dstport', 'srccountry', 'dstcountry'],
      dtype='object')

In [4]:
the_log_name_25 = "LogPlainTxt\\message_179.170.130.210.bn.2iij.net_20240525.log"
log_date_25 = "LogAnalysis_" + the_log_name.split('_')[-1].split('.')[0]

all_logs_df_25 = LogAnalysis.log_reader(the_log_name_25)
all_df_mem_25 = all_logs_df_25.memory_usage(deep=True).sum()

print(f"all_logs_df memory usage: {all_df_mem_25} bytes")

Reading logs by lines:: 100%|██████████| 310997/310997 [00:04<00:00, 63151.91it/s]
UserWarning: Distributing <class 'list'> object. This may take some time.

all_logs_df memory usage: 202692815 bytes

In [5]:
import modin.pandas as pd
df_concatenated = pd.concat([all_logs_df, all_logs_df_25], axis=0, ignore_index=True)
df_concatenated_mem = df_concatenated.memory_usage(deep=True).sum()
df_concatenated_mem

817622648

In [9]:
(all_df_mem) / (1024**3) * 30

17.180944634601474

In [3]:
100 /28.5

3.508771929824561