In [1]:
%run AccessLogAnalysis.py
from AccessLogAnalysis import LogAnalysis, Utils, Const

import pandas as pd

In [2]:
warning_df = pd.read_csv('Monthly_warning_Logs_Data_202405.csv')
warning_df

,date,time,devname,devid,logid,type,subtype,level,srcip,srcport,dstip,dstport,srccountry,dstcountry,action,service
0,2024-05-01,23:59:59,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.89,61660.0,202.232.2.2,53.0,"""Reserved""","""Japan""","""ip-conn""","""DNS"""
1,2024-05-02,00:00:00,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.89,51125.0,202.232.2.2,53.0,"""Reserved""","""Japan""","""ip-conn""","""DNS"""
2,2024-05-02,00:00:03,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.89,53198.0,202.232.2.2,53.0,"""Reserved""","""Japan""","""ip-conn""","""DNS"""
3,2024-05-02,00:00:12,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.89,59753.0,202.232.2.2,53.0,"""Reserved""","""Japan""","""ip-conn""","""DNS"""
4,2024-05-02,00:00:17,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.166,51271.0,202.232.2.2,53.0,"""Reserved""","""Japan""","""dns""","""DNS"""
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1602964,2024-05-11,23:59:51,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.147,58627.0,20.44.10.123,443.0,"""Reserved""","""United","""ip-conn""","""HTTPS"""
1602965,2024-05-11,23:59:51,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.147,58622.0,204.79.197.239,443.0,"""Reserved""","""United","""ip-conn""","""HTTPS"""
1602966,2024-05-11,23:59:51,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.147,58623.0,13.105.28.1,443.0,"""Reserved""","""United","""ip-conn""","""HTTPS"""
1602967,2024-05-11,23:59:57,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.147,58630.0,52.123.168.36,443.0,"""Reserved""","""Japan""","""ip-conn""","""HTTPS"""
1602968,2024-05-11,23:59:59,"""msd-fw_001""","""FGT60FTK20049338""",11,"""traffic""","""forward""",warning,192.168.100.53,49935.0,20.190.141.35,443.0,"""Reserved""","""Japan""","""ip-conn""","""HTTPS"""

In [7]:
warning_df.columns

Index(['date', 'time', 'devname', 'devid', 'logid', 'type', 'subtype', 'level',
       'srcip', 'srcport', 'dstip', 'dstport', 'srccountry', 'dstcountry',
       'action', 'service'],
      dtype='object')

In [3]:
srccountry_df = LogAnalysis.count_column_with_ratios(warning_df, 'srccountry').head(20)
srccountry_df

   srccountry  srccountry Counts  srccountry %
0  "Reserved"            1602969         100.0

In [4]:
dstcountry_df = LogAnalysis.count_column_with_ratios(warning_df, 'dstcountry').head(20)
dstcountry_df

       dstcountry  dstcountry Counts  dstcountry %
27        "Japan"             946585         59.05
59        "United             472648         29.49
49    "Singapore"              55217          3.44
20          "Hong              26580          1.66
29        "Korea,              23035          1.44
11        "China"              17069          1.06
3     "Australia"              16898          1.05
18      "Germany"              10063          0.63
35  "Netherlands"               9688          0.60
24      "Ireland"               8514          0.53
21        "India"               5665          0.35
17       "France"               4850          0.30
33     "Malaysia"               1962          0.12
9        "Canada"                990          0.06
45     "Reserved"                723          0.05
14      "Denmark"                285          0.02
26        "Italy"                203          0.01
5       "Belgium"                202          0.01
6        "Brazil"                186          0.01
52        "Spain"                185          0.01

In [5]:
srcip_df = LogAnalysis.count_column_with_ratios(warning_df, 'srcip').head(20)
srcip_df

               srcip  srcip Counts  srcip %
66   192.168.100.166        114875     7.17
111   192.168.100.53         90828     5.67
61   192.168.100.161         66586     4.15
38   192.168.100.138         54552     3.40
112   192.168.100.54         52358     3.27
149   192.168.100.91         50075     3.12
124   192.168.100.66         46783     2.92
44   192.168.100.144         41237     2.57
29   192.168.100.129         40592     2.53
138   192.168.100.80         40338     2.52
54   192.168.100.154         40242     2.51
151   192.168.100.93         39105     2.44
119   192.168.100.61         39072     2.44
63   192.168.100.163         37117     2.32
39   192.168.100.139         36909     2.30
45   192.168.100.145         36465     2.27
32   192.168.100.132         34133     2.13
136   192.168.100.78         34102     2.13
36   192.168.100.136         33183     2.07
5    192.168.100.105         33154     2.07

In [6]:
dstip_df = LogAnalysis.count_column_with_ratios(warning_df, 'dstip').head(20)
dstip_df

                 dstip  dstip Counts  dstip %
12607      202.232.2.3        169596    10.58
12606      202.232.2.2        144320     9.00
3745      13.107.6.158         13448     0.84
3705     13.107.138.10         12076     0.75
3703     13.107.136.10         12049     0.75
22970    52.123.129.14         11148     0.70
22968    52.123.128.14         11052     0.69
22938   52.113.194.132         10933     0.68
12895   204.79.197.203          9921     0.62
12901   204.79.197.239          9718     0.61
3712     13.107.21.239          9715     0.61
22625    52.109.52.169          8774     0.55
22464    52.105.216.25          8419     0.53
22618    52.109.44.111          6771     0.42
20331     40.126.38.36          6271     0.39
20323    40.126.38.102          6269     0.39
20325    40.126.38.160          6144     0.38
13100  210.149.135.113          5682     0.35
22843     52.111.232.7          5475     0.34
12231    20.205.115.81          5437     0.34

In [11]:
type_df = LogAnalysis.count_column_with_ratios(warning_df, 'type').head(20)
type_df

        type  type Counts  type %
0  "traffic"      1602969   100.0