In [1]:
import pandas as pd

# 创建两个示例DataFrame
data1 = {
    'index_col': ['A', 'B', 'C'],
    'value1': [1, 2, 3],
    'value2': [4, 5, 6]
}

data2 = {
    'index_col': ['B', 'C', 'D'],
    'value1': [7, 8, 9],
    'value2': [10, 11, 12]
}

df1 = pd.DataFrame(data1).set_index('index_col')
df2 = pd.DataFrame(data2).set_index('index_col')

# 合并两个DataFrame，按索引列处理，缺失值填充为0
merged_df = df1.combine_first(df2).fillna(0)

# 按索引合并并将相同列相加
result_df = df1.add(df2, fill_value=0).fillna(0)

# 打印结果
print(result_df)

           value1  value2
index_col
A             1.0     4.0
B             9.0    15.0
C            11.0    17.0
D             9.0    12.0

In [2]:
df1

           value1  value2
index_col
A               1       4
B               2       5
C               3       6

In [3]:
df2

           value1  value2
index_col
B               7      10
C               8      11
D               9      12